body {
	text-align: center;
	/*background-image: url('../img/2dogs.jpg');*/
	font-family: sans-serif;
	background-color: lightgrey;
}

main {
	display: inline-block;
	width: 1000px;
	background-color:lightgrey;
}

.splide {
	width: 100%;

	overflow: hidden;
	img {
		/*height: 100%;*/
		width: 100%;
	}
}

@media screen and (max-width: 699px) {
	main {
		width:95%;
	}
}